/* LISTING INFO */
.listingInfo
  background-color #594F8D
  color #fff
  font-size 12px
  padding 24px 22px
  text-shadow 0 1px 0 rgba(0,0,0,0.2)

  .tagContainer:first-child .and
    display none

  .tag
    background-color #4B4276
    border-radius 4px
    color #fff
    display inline-block
    padding 2px 5px
    margin -2px 0
    text-decoration none

  .clear
    color #4B4276
    float right
    font-size 14px

  .menu
    float left
    margin -20px