<li class="{{active}}">
  <label class="truncate">
    <div class="checkbox">
      <i class="fa fa-check"></i>
      <input class="hidden" name="phrases[]" type="checkbox" value="{{text}}">
    </div>

    <strong class="title">{{title}}</strong> <span class="text">{{text}}</span>
  </label>
</li>