<div class="popup-title">
  <strong>Settings</strong>
</div>
<div class="popup-section">
  {{> bulkInsertSetting}}
</div>
<div class="popup-section">
  {{> bulkDeleteSetting}}
</div>
<div class="popup-section">
  {{> sortPhrasesBySetting}}
</div>