<label class="sortPhrasesBy setting">
  <select id="sortPhrasesBy" name="sort-phrases-by">
    <option {{byBody}} value="text">Body</option>
    <option {{byDate}} value="timestamp">Date</option>
    <option {{byTitle}} value="title">Title</option>
  </select>
  Sort Phrases By
</label>